/* src/assets/fonts/fonts.css */

/* Never 字体 */
@font-face {
    font-family: 'Never';
    src: url('./Never.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* SF Pro Display Bold */
@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('./SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* SF Pro Display Heavy Italic */
@font-face {
    font-family: 'SF Pro Display Heavy Italic';
    src: url('./SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
    font-weight: 900;
    font-style: italic;
}

/* SF Pro Display Medium */
@font-face {
    font-family: 'SF Pro Display Medium';
    src: url('./SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}